# POSTGRES
POSTGRES_DB=database_name
POSTGRES_USER=database_user
POSTGRES_PASSWORD=change_me_strong_password

# PGADMIN
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change_me_strong_password

# DATABASE (APP)
DB_URL=jdbc:postgresql://localhost:5432/database_name
DB_USERNAME=database_user
DB_PASSWORD=change_me_strong_password

# EMAIL CONFIG
MAIL=your_email@example.com
MAIL_PASSWORD=your_email_app_password

# FRONTEND / BACKEND URLS
FRONTEND_URL=http://localhost:5173
API_URL=http://localhost:8080
URL_RESET_PASSWORD=http://localhost:5173/reset-password

# AUTH / JWT (ms)
DURATION_TOKEN_JWT=9000
DURATION_REFRESH_TOKEN=700000