### Backend ###

HELP.md
toyloop/target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*/mvnw
*/mvnw.cmd
toyloop/docker/.env
*/.env
toyloop/src/main/resources/app.key
toyloop/src/main/resources/app.pub

### Frontend ###
frontend/EventHub/node_modules/
frontend/EventHub/dist/
frontend/EventHub/dist-ssr/
frontend/EventHub/*.local
frontend/EventHub/.env*.local
frontend/EventHub/npm-debug.log*
frontend/EventHub/.eslintcache
frontend/EventHub/src/assets/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
